{% extends 'base.html.twig' %}

{% block title %}IsBid index{% endblock %}

{% block body %}
    <h1>IsBid index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsBid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for is_bid in is_bids %}
            <tr>
                <td>{{ is_bid.id }}</td>
                <td>{{ is_bid.isBid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('is_bid_show', {'id': is_bid.id}) }}">show</a>
                    <a href="{{ path('is_bid_edit', {'id': is_bid.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('is_bid_new') }}">Create new</a>
{% endblock %}
