{% extends 'base.html.twig' %}

{% block title %} live auctions{% endblock %}

{% block body %}
    <h1>List of live auctions</h1>

    <table class="table">
        <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Deadline</th>

        </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for auction in auctions %}
            {% set i=i+1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ auction.name }}</td>
                <td>{{ auction.deadline ? auction.deadline|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    &nbsp;
    <a href="{{ url('app_login') }}"><button><b>login</b></button></a> &nbsp or &nbsp <a href="{{ url('app_register') }}"><button><b>register</b></button></a>

{% endblock %}
