{% extends 'base.html.twig' %}

{% block title %}Auction user list{% endblock %}
{% block stylesheets %}
    <style>
        .numberLabel{
            width: 5%;
        }
        .nameLabel{

        }
    </style>
{% endblock %}
{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ nameOfUser }}, <a href="{{ path('app_logout') }}">Logout</a>
            or <a href="{{ path('user_reset', {'id': user.id}) }}"> reset credentials </a>
        </div>
    {% endif %}
    <h1>Auction user list</h1>



        {% set i = 0 %}
        {% for auction in auctions %}



            <form method = "POST" action="bidOnAuction">
                <label id="numberLabel" style="width: 40%">{{ i+1 }}</label>
                <label id="nameLabel">{{ auction.name }}</label>
                <label id="deadlineLabel">{{ auction.deadline|date("h:m:s d/m/y") }}</label>
                <label id="winnerLabel">{{ winners[i] }}</label>
                <label id="ifBidLabel">{{ bidArray[i] }}</label>

                    <a href="{{ path('auction_bid',{'auctionID':auction.id}) }}">bid</a>

            </form>

            {% set i=i+1 %}
        {% else %}
            no records found
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
